body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #faebd7;
}
.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    text-align: center;
}
h1{
    user-select: none;
    margin-bottom: 20px;
}
.images img{
    user-select: none;
    max-width: 100%;
    max-height: 300px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.controls{
    margin-top: 20px;
}
button{
    user-select: none;
    padding: 10px 15px;
    margin: 10px;
    background-color:#daa520;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button:hover{
    background-color: #fff;
    color: #daa520;
}